appdirs==1.4.2
click==6.7
enum34==1.1.6
Flask==0.12
Flask-Reggie==0.0.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
gunicorn==19.7.0
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
psycopg2==2.6.2
pyDAL==17.1
pyparsing==2.1.10
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.5
Werkzeug==0.11.15
WTForms==2.1
